:root {
    --accent1-color: #264653;
    --accent2-color: #3e3b34;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #f4f4f4;
}

.site-header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: white;
    color: var(--accent2-color);
    border-bottom: 1px solid #ccc;
}

.site-header nav ul {
    display: flex;
    justify-content: space-around;

}

.logo {
    width: 150px;
    display: grid;
    justify-content: left;
}

.site-header img {
    width: 150px;
    display: block;
}

.main-nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border: 1px solid #777;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    text-align: left;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    border: 1px solid #000;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.85;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 128, 128, 0.662);
    padding: 1rem;
    max-width: 780px;

}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    margin: 1rem;
}

.history h2 {
    text-align: center;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 1rem;
    align-items: center;
}

.history-grid img {
    width: 100%;
}

.adventures {
    margin: 1rem;
}

.adventure-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem
}

.adventure-grid figure {
    text-align: center;
}

.adventure-grid img {
    width: 120px
}

.adventure-grid figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

figcaption {
    text-align: center;
}

.figure_flex {
    display: flex;
}

figure img {
    width: 200px;
}

figure {
    padding: 0;
    margin: 10px;
}

/* TRIPS GRID */
.trips-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.trips-grid img {
    width: 100%;
}

/* TABLE */
.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th,
.trip-table td {
    border: 1px solid #333;
    padding: 0.5rem;
    text-align: center;
}

.site-footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 1rem;
    background-color: white
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

footer .socialmedia img {
    width: 30px;
    height: auto;
    align-items: flex-end;
}

.contact-info {
    text-align: center;
    margin-bottom: 2rem;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    color: white;
    border: 1px solid #777;
    cursor: pointer;
    font-size: 1rem;
}

.contact-layout {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}

button {
    background-color: white;
    cursor: pointer;

}

button:hover {
    background-color: blue;
}

.employees figure img {
    display: inline-block;
    width: 150px;
    align-items: center;

}.company-info,
.employees,
.contact-form {
    margin: 2rem 0;
}

.employees {
    display: flex;
    gap: 20px;
}

.employees figure {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 8px;
}

button {
    background-color: #0077b6;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #023e8a;
}